*{
    padding: 0;
    margin: 0;
}

html{
    background: url("../images/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


video#bgvid {

    position: fixed; right: 0; bottom: 0;

    min-width: 100%; min-height: 100%;

    width: auto; height: auto; z-index: -100;

    background: url(../images/back.jpg) no-repeat;

    background-size: cover;

}


body{
     text-align: center;

     color: white;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
 }
h1{
    margin-top: 100px;
    font-size: 100px;
    font-weight: 100;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);

}
h2{
    font-size: 70px;
    font-weight: 100;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);
}


@media screen and (max-device-width: 800px) {


    #bgvid { display: none; }

}

